@define-color waybar-bg #242f40; /* gunmetal */
@define-color arch #bfc3ba;
@define-color text-color #a4ac96; /* ash grey */

* {
    font-family: "RobotMono Nerd Font Mono";
    font-size: 14px;
    min-height: 15px;
    /* color: @text-color; */
    border: none;
}

window#waybar {
    background: transparent;
}

.modules-left {
    padding: 0 10px;
    margin: 4px;
    border: 1px solid @waybar-bg;
    border-radius: 10px;
}

.modules-center {
    padding: 0 10px;
    margin: 4px;
    border: 1px solid @waybar-bg;
    border-radius: 10px;
}

.modules-right {
    padding: 0 10px;
    margin: 4px;
    border: 1px solid @waybar-bg;
    border-radius: 10px;
}

#custom-arch {
    color: @arch;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.active {
    background: #7c9082;
    border-radius: 3px;
    color: #000f08;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#disk,
#memory,
#cpu,
#backlight,
#window,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-notification,
#custom-power {
    color: @text-color;
    padding: 0 10px;
}

#clock {
    /* color: #9dbbae; cambridge blue */
    color: #81a1c1;
    font-weight: bold;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #a6a69c;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #88c0d0;
}

tooltip {
    padding: 2px;
}
